{% extends 'base_auth.html' %}
{% load static %}

{% block content %}


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <div class="card mt-5">
            <div class="card-body">
            <div class="card-title">
                <h4>Please enter your email to get reset link</h4>
            </div>


                <form action="{% url 'request_password' %}" method="post">
                    {% csrf_token %}

                {% include 'messages.html' %}
                    <div class="form-group">

                        <input class="form-control form-control-sm" type="email" name="email" id="emailField" placeholder="Email" value="{{ values.email}}">
                        <div class="invalid-feedback" style="display: none" id="emailfeedbackField">
                        </div>
                        <p class="text-sm text-success" id="emailSuccessOutput"></p>

                    </div>
                    <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn" id="submitButton">
                </form>
                <div class="container">
                    <span class="text-lead lead">Already have an account?</span><a href="{% url 'login' %}">Login</a>
                    <br>
                    <span class="text-lead lead">Don't have an account?</span><a href="{% url 'register' %}">Register</a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock %}